@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root{
    --yellow-color:#FFFF00;
    --yellow-light:#F8F184;
    --bleu-color:#19578d;
    --white-color:hsl(0, 0%, 100%);
    --gradient-white: #eddebf68;
    --gradient-red: #89000978;
    --black-color:#000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    font-family: 'Rajdhani';
    font-weight: 400;
    font-size: 36px;
}
button{
    font-family: 'Rajdhani';
    font-weight: 400;
    font-size: 20px;
}

.container{
    width:80%;
    margin:0 auto;
  
}
body{
    background-color: black;
    color:white;
    font-family: 'Space grotesk';
    font-weight: 300;
    font-size: 12px;
}
.up-bar{
    border-top: #727272 3px solid;
    position: absolute;
    top:132;
    left:102px;
   
}
/* design de la navigation*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
ul{
    list-style: none;
}

nav ul a{
color:var(--white-color);
font-size: 30px;
font-family: 'Rajdhani';
font-weight: 500;
/*text-decoration: none;*/
}
 nav ul a:hover{
    color:var(--yellow-color);
}
.logo:hover{
   -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
           filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
/*design de la partie en tete hero*/
#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height:800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #19578d;
}  
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   width:60%
    margin:0 auto;
    padding-top: 150px;   
}  
#hero .titre{
    margin:20px 0;
}
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding:10px 40px;
    margin-top: 10px;
    background: linear-gradient(80deg,var(--gradient-white),var(--gradient-red));
    box-shadow:var(--black-color)15px 15px 50px;
}
#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 285px;
}
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right:70px;
    top:230px;
}
.scroll .social{
    margin-top: 15px;
}

/* design de la section batman personnage*/
.batman-personnage{
    display: flex;
    justify-content: space-between;
  
}
#batman-cinema{
margin-top: 40px;
}
.titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}
.description{
     margin-bottom: 40px;
     text-align: justify;
     width: 80%;
     font-size: 21px;
}
.personnage-info{
    text-align: center;
}
/* design de la partie multimédia */
#multimedia button{
    position: relative;
    top:155px;
    background: none;
    border:none;
}
#multimedia button.right{
   right:-90%;

}


#slider-content,.slider-multimedia{
 display:flex;
 width:54%;
 margin:40px  auto;
}


#multimedia .slider-content{
    padding:15px;
    background-color:rgb(76, 76, 79);
    border-radius: 0 20px 20px 0;
}  
#multimedia p{
    font-size: 15px;    
}
#multimedia{
    width:80%;
    margin:0 auto;
  
}
#multimedia .yellow{
    color:var(--yellow-color);
}
#contact{
    background-color:darkslategrey;
    padding:70px 0;
}
#contact .form{
    width:50%;
    margin:0 auto;
}
#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom:32px;
}
#contact .titre{
    display: block;
    margin:28px 0;
}
#contact .form input[type='email'],#contact .form textarea{
    display: block;
    border-top: none;
    border-left:none ;
    border-right:none ;
    width:80%;
    border-bottom:2px solid rgb(120, 120, 120);
    background-color: transparent;
    padding:10px 0;
}

#contact .news{
    margin: 15px 0;
    border-bottom: 2px solid rgb(120, 120, 120);
}
#contact .icon img{
    transform: rotate(90deg);
    width:20px;
}
::-ms-input-placeholder{
    color:#F8F184;
    font-size: 15px;
}
::-ms-input-placeholder{
    color:#F8F184;
    font-size: 15px;
}
::placeholder{
    color:#F8F184;
    font-size: 15px;
}
.btn-group{
    padding:10px;
    display:flex;
    justify-content: space-around;
}
.form input[type='radio']{
    opacity:0;
}
.btn-group label{
    cursor: pointer;
    border:2px solid;
    -o-border-image:linear-gradient(69deg,red,blue)1;
       border-image:linear-gradient(69deg,red,blue)1;
    padding:10px;
    font-size:20px;
}
input[type='submit']{
    display: block;
    width: 230px;
    margin:25px auto;
    padding: 15px 0;
    cursor: pointer;
}
#citations{
    margin:90px;
}
#citations .citation-carte{
    text-align: center;
    width: 50%;
    margin:0 auto;
}
#citations .citation-auteur{
padding-top: 30px;
font-size: 14px;
font-family: 'Rajdhani';

}
#citations .guillemet-close{
    float:right;
}
/*design du footer*/
footer{
    margin-top: 162px;
}
footer .text-footer {
    text-align: center;
    
}
footer .social-footer{
    text-align: center;
    margin:50px 0;
}
footer .social-item{
    padding:15px;
}


